@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;;
}

body {
    padding: 25px 20px;
}

section, header {
    padding-bottom: 20px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.layout {
    max-width: 1180px;
    margin: 0 auto;
}

/* intestazione */

.container {
    width: 100%;
    min-height: 140px;
 }

/* logo */

.container .row-logo {
    width: 190px;
    height: 80px;
    box-shadow: 3px 0 1px #dbdbdb, 3px 0 1px #cccccc;
    margin-bottom: 20px;
}

#logo-title {
    padding: 5px 10px;
}

/* navigation bar */

.row-nav .nav-list {
    list-style-type: none;
    font-size: 14px;
    color: #b7b7b7;
    font-weight: 700;
}

.row-nav .nav-list li{
    float: left;
    padding-right: 10px;
}

/* section top banner */

.section-top.banner {
    width: 100%;
    min-height: 500px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* section bottom */

.section-bottom {
    width: 100%;
    min-height: 670px;
}


/* section bottom inside */

.row-top {
    width: 100%;
    min-height: 85px;
}

.col3 {
    min-height: 540px;
    margin: 25px 20px 20px 0;
    float: left;
}

.col3.left, .col3.right {
    width: calc(100% - 80%)
}

.col3.middle {
    width: calc(100% - 40% - 40px);
}

.col3.right {
    margin-right: 0;
}

/* footer */

.container-footer {
    width: 100%;
    min-height: 70px;
}

/* debug intestazione*/

/* .debug .container {
    background-color: #e579e6;
} */

/* debug section top */

/* .debug .section-top {
    background-color: #e1d67a;
} */

/* debug section bottom */

.debug .section-bottom {
    background-color: #0086ff;
}

/* debug section bottom inside */

.debug .row-top {
    background-color: #abcfe7;
}

.debug .col3 {
    background-color: #abcfe7;
}

/* debug footer */

.debug .container-footer {
    background-color: #8801fe;    
}
